<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>姓名案例_watch实现</title>
    <!-- 引入vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <!--准备好一个容器-->
    <div id="root">
        姓：<input type="text" v-model="firstName"><br/><br/>
        名：<input type="text" v-model="lastName"><br/><br/>
        全名：<span>{{fullName}}</span>
    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false // 阻止vue在启动时生成生产提示

        //创建Vue实例
        const vm = new Vue({
            el:'#root', 
            data:{  
                firstName:'张',
                lastName:'三',
                fullName:"张-三"
            },
            // computed:{
            //     fullName(){
            //         console.log('get被调用了')
            //         return this.firstName + '-' + this.lastName
            //     }
            // }
            watch:{
                firstName(val){
                    setTimeout(() => {
                        this.fullName = val + '-' + this.lastName
                    }, 1000);
                },
                lastName(val){
                    this.fullName = this.firstName + '-' + val
                }
            }
            /*
                自己总结：
                1、computed和watch实现方法区别在于，computed是立即返回（return），而watch可以延迟生效（异步，因为this.fullName是表达式）。

                2、如果computed也加setTimeout，return将返回值给到了setTimeout，所以fullName()的返回值是undefined。
                    computed:{
                        fullName(){
                            setTimeout(() => {
                                return this.firstName + '-' + this.lastName
                            }, 1000);
                        }
                    }
                
                3、能用computed就用computed，需要异步时候才用watch。

                视频：
                两个重要的小原则：
                1、所有被Vue管理的函数，最好写成普通函数，这样this的指向才是vm 或者 组件实例对象。

                2、所有不被Vue管理的函数，（定时器的回调函数、ajax的回调函数等），最好写成箭头函数，这样this的指向才是vm 或 组件实例对象。
            
            */
        })    
        
    </script>
</body>
</html>